# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# web
node_modules
dist
dist-ssr
*.local
.vite

# server
__pycache__
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lambda
cqt
prediction
frame_level_full_tech_prediction
frame_level_note_attrib
frame_level_pred
full_tech_prediction
*.ckpt
*.mp3

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.tfvars
terraform.tfvars
!terraform.tfvars.example
.env.local